<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <h1>New game</h1>
  <p><%= @letters  %></p>
  <p>What is the longest word you can find?</p>
  <form action="/score" method="post">
    <input type="text" name="new" value= "<%= params[:new] %>" id ="form1">
    <input type="submit" value="Ask!" id="form2">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
</body>
</html>